files:
  "/etc/httpd/conf.d/project.conf":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      <VirtualHost *:80>
        ServerAdmin admin@fix.christmas
        ServerName fix.christmas
        DocumentRoot /var/app/current
        <Directory />
          AllowOverride All
          Options Indexes FollowSymLinks MultiViews
          Require all granted
        </Directory>
      </VirtualHost>