# Stream logs to CloudWatch with absolute retention.
option_settings:
  aws:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 30
# Instruct Elastic Beanstalk to pay attention to Laravel's logs.
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/projec.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/projec.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log
  "/opt/elasticbeanstalk/tasks/publishlogs.d/projec.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log
